body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/**.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 30px;
}**/

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: 0;
    color: #E5E7EB;
}

h3{
    padding: 0px;
    margin: 0px;
}

.first {
    display: flex;
    justify-content: space-evenly;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 50px 50px;
}

.lefty{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    gap: 5px;
}

.lefty h1, .lefty p{
    padding: 5px 0px;
    margin: 5px 0px;
}

.righty{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.mid {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.pictures{
    display:flex;
    justify-content: center;
    gap: 40px;
}

.pics {
    max-width: 200px;
}

.title{
    justify-content: center;
    align-items: center;
}

.middle{
    display: flex;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.one{
    width: 850px;
}

.quote{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    width: 850px;
}

.author{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
